<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find information_map)/urdf/turtlebot2/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find information_map)/urdf/turtlebot2/kobuki/kobuki.urdf.xacro" />
  <xacro:include filename="$(find information_map)/urdf/turtlebot2/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find information_map)/urdf/turtlebot2/kinect.urdf.xacro"/>
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>

  <xacro:kobuki/>
  <xacro:stack_hexagons parent="base_link"/>
  <xacro:sensor_kinect parent="base_link"/>
  <xacro:VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="200" samples="440" gpu="false">
    <origin xyz="0 0 0.4" rpy="0 0 0" />
  </xacro:VLP-16>
</robot>
